################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/FictionHorizon/.vs/
/FictionHorizon/VoiroTalk/.vs