################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/FictionHorizon/.vs/
/FictionHorizon/VoiroTalk/.vs/
/VoiroTalk/.vs/VoiroTalk
/VoiroTalk/VoiroTalk/Const/AuthConst.cs
/VoiroTalk/VoiroTalk/bin/Debug/netcoreapp3.1
